# Eclipse & binaires
.classpath
.project
.settings/
bin/
target/

# Tout ignorer par défaut
src/**

# Sauf les fichiers .java dans les dossiers ciblés
!src/main/java/calculatrice/**/*.java
!src/main/java/visuel/**/*.java

# Ressources : tout suivre si tu veux
!src/main/resources/**


#Drive
.tmp.driveupload

# OS
.DS_Store
Thumbs.db

# fichiers générés
*.log

# Mon code

code.txt