# Eclipse & binaires
.classpath
.project
.settings/
bin/
target/

# Tout le reste du src par défaut
src/**/*

# Sauf les fichiers dans les dossiers ciblés

!src/main/java/calculatrice/.java
!src/main/java/visuel/**
!src/main/resources/**

#Drive
.tmp.driveupload

# OS
.DS_Store
Thumbs.db

# fichiers générés
*.log

# Mon code

code.txt